<html>

<head>
  <title>Contact Corey</title>
</head>

<body>
  <div>
    <form action="/thanks" method="POST">

      <label for="first_name">FirstName:</label>
      <input name="first_name" type="text">

      <label for="first_name">Last Name:</label>
      <input name="last_name" type="text">

      <label for="email">E-mail:</label>
      <input name="email" type="text">

      <label for="comment">Message:</label>
      <input name="comment" type="text">
      <input type="submit">
    </form>
  </div>

</body>

</html>