<!DOCTYPE html>
<html>
  <head>
    <title>Corey Codes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <link rel='stylesheet' href='/public/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <section class="intro">
      <div>
        <nav>
          <ul class="nav-bar">
            <li class="navigation"><a href="#about">about</a></li>
            <li class="navigation"><a class="toggle-nav" href="#portfolio">portfolio</a></li>
            <li class="navigation"><a href="#contact">contact</a></li>
          </ul>
        </nav>
        <div class="intro-title">
          <h1 class="title">Corey Cacananta</h1>
        </div>
      </div>
    </section>

    <section class="about parallax" name="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3">
            <img class="corey-candid img-fluid" src="public/images/Corey_candid.jpg" alt="Corey"/>
          </div>
          <div class="col-md-9">
            <h1 class="about-me-header">about me</h1>
            <p class="about-me-p">I'm a former financial analyst learning to code. My work experience has facilitated my transition to thinking like a full stack JavaScript developer. I enjoy solving problems and especially like using data to create value-added solutions. I have been successful at this because analytical thinking comes naturally to me. I enjoy 
            collaborating and welcome any opportunity to network and learn. The most important concepts I've learned through coding is to enjoy the process and never underestimate the power of curiosity.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio" name="portfolio">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h1 class="portfolio-header">Portfolio</h1>
          </div>
        </div>
        <div class="row justify-content-middle">
          <div class="col-md-4">
            <a href="https://cc-california-surf-report.herokuapp.com/" target="_blank">
              <img src="/public/images/hack-a-thon.png" alt="hack-a-thon"class="project1" />
            </a>
            <p class="description">California Surf Report App</p>
          </div>
          <div class="col-md-4">
            <a href="https://cc-react-vstda.herokuapp.com/" target="_blank">
              <img src="/public/images/VSTDA.png" alt="To-Do App" class="project2" />
            </a>
            <p class="description">Simple to-do App</p>
          </div>
          <div class="col-md-4">
            <div >
              <a href="https://cc-movie-finder.herokuapp.com/" target="_blank">
                <img src="/public/images/movie-finder.png" alt="Movie Finder App" class="project3" />
              </a>
              <p class="description">Movie Finder App</p>
          </div>
        </div>
        <div class="container social-media">
          <div class="row justify-content-center">
            <div class="col-md-12 text-center py-10">
              <a href="https://github.com/Cacananta" target="_blank">
                <img src="/public/images/Github.png" alt="GitHub">
              </a>
              <a href="https://www.linkedin.com/in/corey-cacananta-71071670/" target="_blank">
                <img src="/public/images/LinkedIn.png" alt="LinkedIn"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="banner parallax2">
        <div class="container" id="banner-content">
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <div class="languages">
                <img class="mern-pic" src="public/images/js.jpg" alt="JavaScript"/>
                <img class="mern-pic" src="public/images/React.png" alt="React"/>
                <img class="mern-pic" src="public/images/Node.png" alt="Node"/>
                <img class="mern-pic" src="public/images/Mongodb.png" alt="MongoDB"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="beach">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-auto">
              <h1 class="contact-h1">Contact Me</h1>
            </div>
          </div>
        </div>
            <div class="container contact-form" name="contact">
              <div class="container col-9 contact-form">
                <form action="/thanks" method="POST">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">First</span>
                    <input name="first_name" type="text" class="form-control" aria-describedby="basic-addon1">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Last</span>
                    <input name="last_name" type="text" class="form-control" aria-describedby="basic-addon2">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">E-mail</span>            
                    <input name="email" type="text" class="form-control" aria-describedby="basic-addon3">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">Note</span>
                    <input name="comment" type="text" class="form-control" aria-describedby="basic-addon4"/>
                  </div>
                  <br>
                  <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Send Me An E-mail</button>
                  </div>
                </form>
              </div>
            </div>

        </div>
      <div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="public/script.js" type="text/javascript" ></script>
  </body>
</html>