<html>

<head>
  <title> Thank You</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='/public/style.css'/>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
  <div class="body-image">
    <div class="container" id="thank-you-text">
      <div class="row">
        <div class="col-md-12">
          <h1 class="thank-you-h1">Thank you <%= first_name %></h1>
          <h2 class="thank-you-h2">We'll be in touch soon!</h2>
        </div>
      </div>
    </div>
  </div>
</body>

</html>